In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_Dataset.csv')

In [3]:
# Take only the first cuisine if there are multiple (eg- "North Indian, Chinese")
df["Main_Cuisine"] = df["Cuisines"].apply(lambda x: x.split(',')[0].strip())

In [4]:
# Group by cuisine and get average rating and total votes
cuisine_group = df.groupby("Main_Cuisine").agg({
    "Aggregate rating": "mean",
    "Votes": "sum",
    "Restaurant ID": "count"
}).reset_index()
print(cuisine_group)

      Main_Cuisine  Aggregate rating   Votes  Restaurant ID
0          Afghani          0.414286      44              7
1          African          4.450000     638              2
2         American          3.555755  105447            278
3           Andhra          3.500000     417              3
4          Arabian          3.480000     636              5
..             ...               ...     ...            ...
115        Turkish          3.171429    1366              7
116  Turkish Pizza          4.300000     103              1
117     Vietnamese          4.133333     449              3
118        Western          3.700000     291              2
119  World Cuisine          4.500000    1244              3

[120 rows x 4 columns]

In [5]:
# find cuisines with highest average ratings
top_rated = cuisine_group.sort_values(by="Aggregate rating", ascending=False)
print("Top 10 cuisines by average rating:")
print(top_rated.head(10))

Top 10 cuisines by average rating:
      Main_Cuisine  Aggregate rating  Votes  Restaurant ID
107          Sunda          4.900000   5514              3
97        Scottish          4.700000    163              1
24           Cajun          4.700000   1412              1
109      Taiwanese          4.650000    384              2
37        Filipino          4.616667   2727              6
86         Persian          4.600000    177              1
92           Ramen          4.600000    418              1
119  World Cuisine          4.500000   1244              3
5        Argentine          4.500000    602              1
46        Hawaiian          4.480000   5749              5

In [6]:
# find most popular cuisines
most_voted = cuisine_group.sort_values(by="Votes", ascending=False)
print("Top 10 most voted cuisines:")
print(most_voted.head(10))

Top 10 most voted cuisines:
    Main_Cuisine  Aggregate rating   Votes  Restaurant ID
79  North Indian          2.399699  356684           2992
23          Cafe          3.232415  116576            617
2       American          3.555755  105447            278
54       Italian          3.453846   95153            234
30   Continental          3.606809   94569            235
27       Chinese          2.325731   84918            855
35      European          3.887097   45842             62
36     Fast Food          2.351042   42617            672
12        Bakery          2.332206   42008            621
88         Pizza          2.725000   36415            232